<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PortType.CustomersEndpoint1Binding"/>
        <binding name="PortType.CustomersEndpoint1JMSBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://esbqa/Interfaces/WebServices/Customers.service.serviceagent/PortType.CustomersEndpoint1" binding="basicHttpBinding" bindingConfiguration="PortType.CustomersEndpoint1Binding" contract="MeuhedetPatientInfoWebService.Customers" name="PortType.CustomersEndpoint1"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
