<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mw300irBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://LEUMITDV:80/wsdv/RUNWSGNR.pgm" binding="basicHttpBinding" bindingConfiguration="mw300irBinding" contract="LeumitPatientInformationService.mw300irPortType" name="mw300ir"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
