<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
 
    <bindings>
      <basicHttpBinding>
        <binding name="DWHDemogPortTypeEndpoint0SSLBinding">
          
        </binding>
        <binding name="DWHDemogPortTypeEndpoint0SSLBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://WIN-5L24K9C4659:8088/mockDWHDemogPortTypeEndpoint0SSLBinding"
        binding="basicHttpBinding" bindingConfiguration="DWHDemogPortTypeEndpoint0SSLBinding"
        contract="HadassahWebClient.DWHDemogPortType" name="DWHDemogPortTypeEndpoint0SSL" behaviorConfiguration="ClientInspectorBehevior" />
          
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientInspectorBehevior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ClientMessageInspector" type="SoapClientMessageInspector.SoapClientMessageInspector"/>
      </behaviorExtensions>
    </extensions>
    
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Translate.v2" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.875" newVersion="1.42.0.875" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConfigFileFullPath" value="c:\ProgramData\KriSoftware\ADTServer\settings\settings.ini" />
    <add key="UserName" value="EldanUser" />
    <!--for sheba-->
    <add key="Password" value="ELDAN951" />
    <!--for sheba-->
    <add key="SendingApp" value="ECG" />
    <add key="RunningUserName" value="MuseBkgnd" />
    <add key="CodePage" value="65001" />
    <add key="UseType" value="2" />
    <add key="user" value="custoecg" />
    <add key="password" value="1q2w3e4r5t6y7u!" />
    <add key="domain" value="beilinson" />
    <add key="ReqSysID" value="1380" />
  </appSettings>
</configuration>