<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="mw300irBinding" messageEncoding="Text" textEncoding="utf-8" />-->
        <!--
        <binding name="PortType.CustomersEndpoint1Binding" />
        <binding name="TranslationPatientNamesService">
          -->
        <!--<security  mode="Transport" >
            <transport clientCredentialType="Ntlm"  proxyCredentialType="None" realm=""  />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>-->
        <!--
          -->
        <!--<security mode="Message">
            <transport clientCredentialType="Windows"
                realm="" />
            <message algorithmSuite="Default"/>
          </security>-->
        <!--
        </binding>-->

        <binding name="Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://LEUMITTS:50/WS/RUNWSGNR.pgm" binding="basicHttpBinding" bindingConfiguration="mw300irBinding" contract="LeumitPatientInformationService.mw300irPortType" name="mw300ir" />-->
      <!--
      <endpoint address="http://ELD-LS-11:8088/mockPortType.CustomersEndpoint1Binding" binding="basicHttpBinding" bindingConfiguration="mw300irBinding" contract="LeumitPatientInformationService.mw300irPortType" name="mw300ir" />
      -->
      <!--<endpoint address="http://WIN-19JQJH4LEJU:8087/mockPortType.CustomersEndpoint1Binding" binding="basicHttpBinding" bindingConfiguration="PortType.CustomersEndpoint1Binding" contract="MeuhedetPatientInfoWebService.Customers" name="PortType.CustomersEndpoint1" />-->
      <!--
      <endpoint address="http://esbqa/Interfaces/WebServices/Customers.service.serviceagent/PortType.CustomersEndpoint1"  binding="basicHttpBinding" bindingConfiguration="PortType.CustomersEndpoint1Binding"    contract="MeuhedtPatientInformation.Customers" name="PortType.CustomersEndpoint1" />
      -->
      <!--<endpoint address="http://emekonline.emek.clalit.org.il:8326/Clalit.TranslationPatientNames/TranslationPatientNamesService.asmx" binding="basicHttpBinding" bindingConfiguration="TranslationPatientNamesService" contract="ClalitPatientNameService.TranslationPatientNamesService" name="TranslationPatientNamesService"/>-->
      <!--
      <endpoint address="http://WIN-19JQJH4LEJU:8088/mockTranslationPatientNamesService" binding="basicHttpBinding" bindingConfiguration="TranslationPatientNamesService" contract="ClalitPatientNameService.TranslationPatientNamesService" name="TranslationPatientNamesService">

      </endpoint>-->
      <!--<endpoint address="http://WIN-19JQJH4LEJU:8088/mockSheba.CoreInterfaces.WS.DemogBoth.ServiceSoap" binding="basicHttpBinding" bindingConfiguration="Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap" contract="ShebaDemographicsProxy.ShebaCoreInterfacesWSDemogBothServiceSoap" name="Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap">-->
        <!--<headers>
          <wsse:security xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext">
            <wsse:usernametoken xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
              <wsse:username>EldanUser</wsse:username>
              <sessiontype xmlns="http://schemas.xmlsoap.org/ws/2002/07/secext">Stateless</sessiontype>
              <wsse:password type="wsse:PasswordText">ELDAN951</wsse:password>
            </wsse:usernametoken>
          </wsse:security>
        </headers>-->
      <!--</endpoint>-->

      <!--Hadassah dev server endpoint -->
      <endpoint address="https://tibcoesbdev.dom.hadassah.org.il:1089/5AppLayer/DWHDemographyWSDL-service0.serviceagent/DWHDemogPortTypeEndpoint0SSL" binding="basicHttpBinding" bindingConfiguration="DWHDemogPortTypeEndpoint0SSLBinding" contract="HadassahWebClient.DWHDemogPortType" name="DWHDemogPortTypeEndpoint0SSL" />
    </client>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Translate.v2" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.875" newVersion="1.42.0.875" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConfigFileFullPath" value="c:\ProgramData\KriSoftware\ADTServer\settings\settings.ini" />
    <add key="UserName" value="EldanUser" />
    <!--for sheba-->
    <add key="Password" value="ELDAN951" />
    <!--for sheba-->
    <add key="SendingApp" value="ECG" />
    <add key="RunningUserName" value="MuseBkgnd" />
    <add key="CodePage" value="65001" />
    <add key="UseType" value="2" />
    <add key="user" value="custoecg" />
    <add key="password" value="1q2w3e4r5t6y7u!" />
    <add key="domain" value="beilinson" />
    <add key="ReqSysID" value="1380" />
  </appSettings>
</configuration>