<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="c:\logs1\nlog-internal.log">


  <variable name="myvar" value="myvalue"/>
  <targets>
    <target xsi:type="File"
                  name="FileLogger"
                  layout="Thread Id :${threadid} | ${date:format=dd-MM-yyyy HH\:mm\:ss.fff} | ${logger:padding=-30} | ${level:padding=-6} |  ${message} "
                  encoding= "utf-8"
                  lineEnding="Default"
                  replaceFileContentsOnEachWrite="false"
                  fileAttributes="Normal"
                  fileName="C:\ProgramData\KriSoftware\ADTServer\Logs\AdtLog.txt"
                  deleteOldFileOnStartup="false"
                  concurrentWrites="true"
                  openFileCacheTimeout="30"
                  keepFileOpen="false"
                  forceManaged="false"
                  enableArchiveFileCompression="false"
                  writeFooterOnArchivingOnly="false"
              />
    <target xsi:type="File"
            name="f"
            fileName="${basedir}/logs1/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            />
    <target xsi:type="EventLog"
          name="EventLogger"
          layout="${longdate}  -  ${level:uppercase=true}${newline}${message}"
          machineName="."
          source="Muse ADT Server"
          log="Muse ADT Server"
          eventId="${event-properties:EventID}"
          maxKilobytes="10240"
         
          />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="FileLogger" />
    <!--<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="FileLogger" />-->
    <logger name="*" minlevel="Error" maxlevel="Error"  writeTo="EventLogger" />
  </rules>
</nlog>


<!--<targets>
  <target xsi:type="EventLog"
          name="String"
          layout="Layout"
          machineName="String"
          source="Layout"
          category="Layout"
          eventId="Layout"
          log="String" />
  -->
<!-- note: source is a string in NLog before 4.0 -->
<!--

</targets>-->
<!--category="Web Service Response Error"-->