<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TranslationPatientNamesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://emekonline.emek.clalit.org.il:8326/Clalit.TranslationPatientNames/TranslationPatientNamesService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TranslationPatientNamesService"
                contract="ClalitPatientNameService.TranslationPatientNamesService"
                name="TranslationPatientNamesService" />
        </client>
    </system.serviceModel>
</configuration>