<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <add key="ReqSysID" value="1380"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DWHDemogPortTypeEndpoint0SSLBinding">
          <security mode="Transport" />
        </binding>
        <binding name="DWHDemogPortTypeEndpoint0SSLBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://WIN-5L24K9C4659:8088/mockDWHDemogPortTypeEndpoint0SSLBinding"
        binding="basicHttpBinding" bindingConfiguration="DWHDemogPortTypeEndpoint0SSLBinding"
        contract="HadassahWebClient.DWHDemogPortType" name="DWHDemogPortTypeEndpoint0SSL" />
    </client>
  </system.serviceModel>
</configuration>
